<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Devcriptions</title>
</head>
<header>
  <h1>
    <a class="white" href="/">Devcriptions</a>
  </h1>
</header>
<body>
<div class="div-wrapper">
  <h2>Devcriptionsについて</h2>
  <div class="div-wrapper-second">
    <h3>Devcriptionsとは</h3>
    <ul>
      <li>システム開発に関わる人向けのプロフィールサービスです。</li>
      <li>Github, note, その他ブログなどの外部リンクをまとめることができます。</li>
      <li>現在Github, Facebook, Qiita, noteおよび任意のリンク先（一つのみ）に対応しています。</li>
      <li>また、普段使用しているプログラミング言語の一覧を作成できます。</li>
      <li>いずれも、追加/修正希望などありましたら運営者まで連絡ください。</li>
    </ul>
    <h3>利用規約</h3>
    <div class="mt-1">当サービスを利用された場合は、以下の規約に同意したものとさせていただきます。ご利用の際はご一読ください。</div>
    <ul>
      <li>当サービスの利用は自己判断にてお願いします。</li>
      <li>当サービスの利用によりユーザーに不利益が生じた場合でも、運営者は一切責任を負わないものとします。</li>
      <li>当サービスからリンクされている外部サイトの内容については運営者は一切の保証を致しません。</li>
      <li>当サービスはユーザーの承諾なくサービスの内容変更およびサービス終了する可能性があります。</li>
      <li>コンピュータ等の障害、天災、通信設備の故障等でやむをえずサービスを停止する可能性があります。</li>
      <li>上記理由によりデータの消失、第三者からの不正アクセスで生じた損害について運営者は一切責任を負わないものとします。</li>
      <li>運営者は本規約をいつでも改訂することができるものとします。</li>
    </ul>
    <h3>開設について</h3>
    <ul>
      <li>Twitterをから連携することで登録ができます。メールアドレスなどは不要です。</li>
    </ul>
    <h3>削除について</h3>
    <ul>
      <li>編集画面から削除することができます。</li>
    </ul>
    <h3>運営者について</h3>
    <ul>
      <li>このサービスは個人で運営しています。</li>
      <li>HN：かいり（<a href="https://twitter.com/QA_kairi">Twitter</a>）</li>
      <li>何かありましたらkairiver_develop@gmail.comまでご連絡ください。</li>
    </ul>
  </div>
</div>
</body>
</html>
