<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Devcriptions</title>
</head>
<header>
  <h1>
    <a class="white" href="/">Devcriptions</a>
  </h1>
</header>
<body>
<div class="div-wrapper">
  <h2>Devcriptionsについて</h2>
  <div class="div-wrapper-second">
    <h3>Devcriptionsとは</h3>
    <ul>
      <li>システム開発に関わる人向けのプロフィールサービスです。</li>
      <li>Github, Note, その他ブログなどの外部リンクをまとめることができます。</li>
      <li>現在Github, Facebook, はてなブログ, noteおよび任意のリンク先（一つのみ）に対応しています。</li>
      <li>また、普段使用しているプログラミング言語の一覧を作成できます。</li>
      <li>いずれも、追加/修正希望などありましたら運営者まで連絡ください。</li>
    </ul>
    <h3>開設について</h3>
    <ul>
      <li>Twitterをから連携することで登録ができます。メールアドレスなどは不要です。</li>
    </ul>
    <h3>運営者について</h3>
    <ul>
      <li>このサービスは個人で運営しています。</li>
      <li>HN：かいり（<a href="https://twitter.com/QA_kairi">Twitter</a>）</li>
      <li>何かありましたらxxx@gmail.comまでご連絡ください。</li>
    </ul>
  </div>
</div>
</body>
</html>
