<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Devcriptions</title>
</head>
<header>
  <h1>
    <a class="white" href="/">Devcriptions</a>
  </h1>
</header>
<body>
<div class="div-wrapper">
  <h2>Devcriptions</h2>
  <div align="center">以下より登録が可能です（１分）</div>
  <div align="center" class="button">
    <a href="/account/signup">Twitterアカウントで登録</a>
  </div>
  <div class="div-wrapper-second">
    <h3>Devcriptionsとは？</h3>
    <ul>
      <li>システム開発に関わる人向けのプロフィールサービスです。</li>
      <li>Github, Note, その他ブログなどのリンクをまとめることができます。</li>
      <li>また、普段使用しているプログラミング言語の一覧を作成できます。</li>
      <li>詳しくは<a href="/about">Devcriptionsについて</a>よりご確認ください。</li>
    </ul>
  </div>
</div>
</body>
</html>
