<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Devcriptions</title>
</head>
<header>
  <h1>
    <a class="white" href="/">Devcriptions</a>
  </h1>
</header>
<body>
<div class="div-wrapper">
  <h2>Twitterでログイン</h2>
  <div class="div-wrapper-second">
    <h3>登録に際して</h3>
    <ul>
      <li>Twitter認証が完了すると自動でプロフィール作成ページへ遷移します。</li>
      <li>Twitterプロフィールを取得する以外の操作を勝手に行うことはありませんのでご安心ください。</li>
    </ul>
  </div>
  <div align="center" class="button">
    <a href="/auth/twitter">アカウント登録/ログイン</a>
  </div>
</div>
</body>
</html>
